################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/dbo.Table.sql
/EmployeeDb.ldf
/EmployeeDb.mdf
